{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vaccination Api</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="{{ url_for('appoint') }}">Book Appointment</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Helpline Numbers <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Number<br>91-11-23978046</br></a></li>
            <li><a href="#">Health Ministery <br>1075</br> </a></li>
            <li><a href="#">Child <br>1098</br></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Our Partners <span class="sr-only">(current)</span></a></li>
            <li><a href="">Aarogya Setu</a></li>
            <li><a href="">Digilocker</a></li>
            <li><a href="">Umang</a></li>
            <li><a href="">C S C</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Admin{{ name }}</h1>


          <h2 class="sub-header">User List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Password</th>
                </tr>
              </thead>
              <tbody>

                {% for row in rows %}

                <tr>

                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>


                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}